streamlit
pandas
plotly
numpy
umap-learn
matplotlib
requests
beautifulsoup4
spacy
wordcloud
plotly-express
networkx
scipy
scikit-learn
feel-it
openpyxl
matplotlib-inline
ipython
https://github.com/explosion/spacy-models/releases/download/it_core_news_md-3.7.0/it_core_news_md-3.7.0-py3-none-any.whl